body{
    background: url("pic/images.jpeg");
   
    width: 490px;
    height: 590px;
   background-repeat: no-repeat;
 background-size: cover;
   
}

img{
    width: 300px;
    height: 450px;
}
p{
    font-size: 21px;
}
h1{
    color: rgb(82, 7, 105);
}